<div class="header">
    <h1>Available Funds</h1>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Fund Name</th>
                <th>Themes</th>
                <th>NAV</th>
                <th>Risk Level</th>
                <th>Expected Returns</th>
                <th>Investment Duration</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for fund in funds %}
            <tr>
                <td>{{ fund.name }}</td>
                <td>
                    {% for theme in fund.themes %}
                        {{ theme.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ fund.nav }}</td>
                <td>{{ fund.risk_profile.name }}</td>
                <td>{{ fund.expected_returns }}</td>
                <td>{{ fund.investment_duration }}</td>
                <td>
                    <!-- Add Fund to Folio Form -->
                    <form action="{% url 'add-fund-to-folio' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="fund_id" value="{{ fund.id }}">
                        <input type="hidden" name="folio_id" value="{{ folio_id }}">  <!-- Pass current folio_id -->
                        <input type="hidden" name="price_per_unit" value="{{ fund.nav }}">
                        <input type="number" class="units" name="units" placeholder="Enter units" required>
                        <button type="submit" name="transaction_type" value="buy" class="btn btn-success">Buy</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7">No funds available.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="pagination">
    {% if is_paginated %}
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
            {% endif %}
        </span>
    {% endif %}
</div>
