{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/dashboard.js' %}"></script>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-sticky">
                <ul class="nav">
                    <li class="nav-item">
                        <img src="{{ profile_pic }}" class="profile-pic" alt="Profile Picture">
                        <a href="?section=profile" class="nav-link {% if section == 'profile' %}active{% endif %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="?section=portfolio" class="nav-link {% if section == 'portfolio' %}active{% endif %}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a href="?section=funds" class="nav-link {% if section == 'funds' %}active{% endif %}">Available Funds</a>
                    </li>
                    <li class="nav-item">
                        <form id="logout-form" method="POST" action="{% url 'logout' %}" class="nav-link">
                            {% csrf_token %}
                            <input type="hidden" name="refresh_token" value="{{ request.COOKIES.refresh }}">
                            <input type="hidden" name="access_token" value="{{ request.COOKIES.access }}">
                            <button type="submit" onclick="handleLogout()" style="color: inherit;border: none;font-size: inherit;background: none;font-weight: bold;">Logout</button>
                        </form>
                    </li>
                    <li class="nav-item">
                        <a href="?section=password_change" class="nav-link {% if section == 'password_change' %}active{% endif %}">Change Password</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="main-content">
            {% if section == 'profile' %}
            {% include 'users/profile_section.html' %}
            {% elif section == 'portfolio' %}
            {% include 'portfolios/portfolio_section.html' %}
            {% elif section == 'funds' %}
            {% include 'funds/funds_section.html' %}
            {% elif section == 'password_change' %}
                {% include 'users/password_change_form.html' %}
{% endif %}

        </main>
    </div>
</div>
{% endblock %}
