<div class="header">
    <h1>Change Password</h1>
</div>

<div class="password-change-form">


    <form method="post" action="?section=password_change">
        {% csrf_token %}
        <input type="hidden" name="section" value="{{ section }}">

        {{ form.as_p }}
        <button type="submit" class="btn">Change Password</button>
    </form>
    {% if password_change_done %}
    <div class="alert alert-success">
        Your password has been changed successfully!
    </div>
    {% endif %}
</div>